<head>
	<title>Resume Diederik</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<div class="navbar"> 
	<button class="header_btn">HEADER</button>
	<button class="about_btn">ABOUT</button>
	<button class="education_btn">EDUCATION</button>
	<button class="workexperience_btn">WORK</button>
	<button class="skills_btn">SKILLS</button>
</div>
<body>
	<center>
		<%= render partial: 'header' %>
		<%= render partial: 'about' %>
		<%= render partial: 'education' %>
		<%= render partial: 'workexperience' %>
		<%= render partial: 'skill' %>
		<%= render partial: 'footer' %>
		</center>
</body>

