<div class="language_form">
<%= form_for :language do |form| %>

    <%= form.label :start_date %>
    <%= form.text_field :start_date, type: 'Start Date' %></br>

    <%= form.label :name %>
    <%= form.text_field :name, type: 'What language(s) do you speak?' %></br>

    <%= form.label :start_date %>
    <%= form.text_field :start_date, type: 'Start Date' %></br>

    <%= form.label :start_date %>
    <%= form.text_field :start_date, type: 'Start Date' %></br>

    <%= form.submit %>

<% end %>
</div>